body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

a {
    color: #3384b4;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 680px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .container {
        width: auto;
        margin: 0 30px;
    }
}


.header {
    background-color: #eaeaea;
    position: fixed;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid #3384b4;
}

.header .container:after {
    content: '';
    display: block;
    clear: both;
}

.logo {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    float: left;
}

.logo__link {
    color: #000;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}

.nav {
    float: right;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
}

.menu__item {
    display: inline-block;
}

.menu__link {
    display: block;
    color: #000;
    padding: 13px 8px;
    text-decoration: none;
}

.menu__link:hover {
    color: #3384b4;
}

.section {
    padding: 105px 0;
}

.section--light {
    background-color: #eaeaea;
    color: #000;
}

.section--dark {
    background-color: #2c333d;
    color: #eaeaea;
}

.home {
    background: url('/images/background.jpg') center no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: #eaeaea;
}

.home__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(44, 51, 61, 0.6);
    padding: 0 50px 30px 50px;
}

.home__header {
    font-weight: bold;
    font-size: 54px;
}

.home__description {
    font-size: 20px;
    font-weight: bold;
}

.section__header {
    margin: 0 0 30px 0;
    font-size: 30px;
    display: inline-block;
}

.section__header:after, .home__header:after {
    content: '';
    display: block;
    border-bottom: 2px solid #3384b4;
    margin-top: 4px;
}

.skills {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.skills__item {
    display: inline-block;
    border: 1px solid #3384b4;
    margin: 0 10px 15px 0;
    padding: 8px 12px;
}

.contact:after {
    content: '';
    display: block;
    clear: both;
}

.figure-link {
    display: inline-block;
}

@media screen and (max-width: 500px) {
    .figure-link {
        display: block;
        text-align: center;
        margin-top: 30px;
    }
}

.figure-link__image {
    height: 80px;
}

.figure-link__caption {
    text-align: center;
}

.figure-link__figure {
    margin: 5px 30px 10px 0;
}

.go-to-top {
    float: right;
    color: #fff;
    text-decoration: none;
}

.go-to-top:hover {
    text-decoration: underline;
}

.footer {
    padding: 40px 0;
}

@media screen and (max-width: 500px) {
    .logo {
        float: none;
        text-align: center;
    }

    .nav {
        float: none;
        text-align: center;
    }

    .footer {
        text-align: center;
    }

    .go-to-top {
        float: none;
        display: block;
        margin: 20px auto 0;
    }
}

@media screen and (max-width: 360px) {
    .home__box {
        position: absolute;
        top: 60%;
        padding: 0 0 30px 0;
        width: 100%;
    }
}